.logo {
        align: float;
        margin: 100px 0px 0px 440px;
 
	
}

div p {
	text-align: center;
        color: #ff0000;
	font-family: Arial, Sans-serif;
	font-size:1em
        margin: 80px 0px 0px 440px;
}